/*

SEA-CORE International Ltd.
SEA-CORE Development Group

Cascading Style Sheet for the Template Header

*/


button:focus {
	outline: none;
}

.main-wrapper-div {
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
}

/* body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	overflow-y: scroll;
}
 */

