/*

SEA-CORE International Ltd.
SEA-CORE Development Group

Cascading Style Sheet for the Template Header

*/


button:focus {
	outline: none;
}

.main-wrapper-div {
	overflow-y: auto;
	overflow-x: hidden;
}

.link-main-div {
	overflow-y: auto;
	overflow-x: hidden;
}

.link-nav-div {
	overflow-y: auto;
	overflow-x: hidden;
}

.link-status-div {
	overflow-y: auto;
	overflow-x: hidden;
}
