/*

SEA-CORE International Ltd.
SEA-CORE Development Group

Cascading Style Sheet for the Login Page

*/


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.image-banner-center {
	width: 527px;
	display: block;
	margin: 0 auto;
}

.login {
	margin: auto;
	width: 50%;
}
