/*

SEA-CORE International Ltd.
SEA-CORE Development Group

Cascading Style Sheet for the Login Page

*/


html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

div.vspace10 {
	width: 50%;
	height: 10%;
	margin: auto;
}

div.vspace5 {
	width: 50%;
	height: 5%;
	margin: auto;
}

div.banner_center {
	width: 527px;
	margin: auto;
}

div.border_center {
	width: 800px;
	margin: auto;
}

div.pg_center {
	width: 75%;
	margin: auto;
}

form.login {
	margin: auto;
	width: 50%;
}

div.errormsg {
	text-align: center;
	font-weight: bold;
	color: red;
}

div.normalmsg {
	text-align: center;
	color: blue;
}

div.chooser {
	text-align: center;
	color: black;
}
