/*

SEA-CORE International Ltd.
SEA-CORE Development Group

Cascading Style Sheet for Application Portal

*/


div.iconimg {
    width: 128px;
    height: 128px;
  }

div.icontxt {
    width: 128px;
    height: 24px;
    text-align: center;
  }

div.icon {
    cursor: pointer;
    width: 128px;
    height: 165px;
    float: left;
    display: inline;
    margin: 10px 20px;
    padding: 2px;
    /* border: 1px solid lightgrey; */
  }

div.iconfont {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12pt;
  }
